

<body class="h-100 d-flex flex-column">
    <div class="col-lg-10 mx-auto mt-5 markdown-body">
  <h1 id="homework-10-license-type---license-status-histograms-with-altair">Homework 10 License Type - License Status Histograms with Altair</h1>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&lt;vegachart schema-url="/assets/json/dashboard_licenses.json" style="width: 100%"&gt;&lt;/vegachart&gt;
</code></pre></div></div>

<vegachart schema-url="/assets/json/dashboard_licenses.json" style="width: 100%"></vegachart>

<h2 id="search-the-data--methods">Search The Data &amp; Methods</h2>

<!-- these are written in a combo of html and liquid -->

<div class="left">
<a class="m-1 btn btn-outline-primary btn-2 " href="https://github.com/vega/vega/blob/main/docs/data/cars.json">
  The Data
</a>
</div>

<div class="right">
<a class="m-1 btn btn-outline-primary btn-2 " href="https://github.com/jnaiman/online_cv_public/blob/main/python_notebooks/test_generate_plots.ipynb">
  The Analysis
</a>
</div>


</div>


<!-- Custom page specific js files -->
  
    <script src='/assets/js/vega.min.js' type="text/javascript"></script>
  
    <script src='/assets/js/vega-lite.min.js' type="text/javascript"></script>
  
    <script src='/assets/js/vega-embed.min.js' type="text/javascript"></script>
  
    <script src='/assets/js/justcharts.js' type="text/javascript"></script>
  



  
  <!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- Initialize all tooltips -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>

